.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

.searchContainer input {
    font-size: 20px;
}

.searchContainer button{
    background-color: #000;
    border: none;
    color: #fff;
    padding: 7px 7px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}
.searchContainer button:hover{
    background-color: #fff;
    color: #000;
}