.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease;
    margin: 10px;
    width: 350px;
    height: 350px;
}
  
.card:hover {
    transform: translateY(-25px);
}
  
.card a {
    text-decoration: none;
    color: #333;
}
  
.cardImage {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
  
.cardName {
    font-size: 2rem;
    margin-top: 10px;
}
  
.cardType {
    font-family:fantasy;
    color: #333;
    margin-top: 5px;
}