body{
    margin: 0;
    padding: 0;
}
.backGround{
    background-image: url("../../source/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 100vh;
    width: 100vw;
}
.title {
    position: absolute;
    top: 8%;
    left: 30%;
    font-size: 70px;
    font-family: fantasy;
    color: white;
}
.buttonHome {
    position: absolute;
    top: 50%;
    right: 20%;
    font-size: 50px;
    border-radius: 15px;
    border: solid black;
}
.buttonHome:hover{
    cursor: pointer;
}
.text{
    color: red;
    font-family: fantasy;
}
/* body{
    background-color: black;
} */